
/*
Preloader
 */
.stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--level-0);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preloaderContent {
    animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceLeftTop {
    50% {
        transform: translateX(-4vw) translateY(-4vw) scale(200%);
        background-color: var(--prim-dark);
    }
}

@keyframes bounceRightTop {
    50% {
        transform: translateX(4vw) translateY(-4vw) scale(200%);
        background-color: var(--prim-dark);
    }
}

@keyframes bounceLeftBottom {
    50% {
        transform: translateX(-4vw) translateY(4vw) scale(200%);
        background-color: var(--prim-dark);
    }
}

@keyframes bounceRightBottom {
    50% {
        transform: translateX(4vw) translateY(4vw) scale(200%);
        background-color: var(--prim-dark);
    }
}

@keyframes bounceBack {
    50% {
        transform: scale(50%);
        background-color: var(--prim-light);
    }
}

.preloaderLeftTop {
    width: 4vw;
    height: 4vw;
    position: inherit;
    translate: -6vw 10vw;
    border-radius: 0.5vw;
    background-color: var(--prim);
    animation: bounceLeftTop 1.5s ease-in-out infinite;
}

.preloaderMidTop {
    width: 4vw;
    height: 4vw;
    translate: 0 6vw;
    position: inherit;
    border-radius: 0.5vw;
    background-color: var(--prim);
}

.preloaderRightTop {
    width: 4vw;
    height: 4vw;
    position: inherit;
    translate: 6vw 2vw;
    border-radius: 0.5vw;
    background-color: var(--prim);
    animation: bounceRightTop 1.5s ease-in-out infinite;
}

.preloaderLeftMid {
    width: 4vw;
    height: 4vw;
    position: inherit;
    translate: -6vw 4vw;
    border-radius: 0.5vw;
    background-color: var(--prim);
}

.preloaderMidMid {
    width: 4vw;
    height: 4vw;
    position: inherit;
    border-radius: 0.5vw;
    background-color: var(--prim);
    animation: bounceBack 1.5s ease-in-out infinite;
}

.preloaderRightMid {
    width: 4vw;
    height: 4vw;
    position: inherit;
    translate: 6vw -4vw;
    border-radius: 0.5vw;
    background-color: var(--prim);
}

.preloaderLeftBottom {
    width: 4vw;
    height: 4vw;
    position: inherit;
    translate: -6vw -2vw;
    border-radius: 0.5vw;
    background-color: var(--prim);
    animation: bounceLeftBottom 1.5s ease-in-out infinite;
}

.preloaderMidBottom {
    width: 4vw;
    height: 4vw;
    position: inherit;
    translate: 0 -6vw;
    border-radius: 0.5vw;
    background-color: var(--prim);
}

.preloaderRightBottom {
    width: 4vw;
    height: 4vw;
    position: inherit;
    translate: 6vw -10vw;
    border-radius: 0.5vw;
    background-color: var(--prim);
    animation: bounceRightBottom 1.5s ease-in-out infinite;
}

.pollActive td {
    background-color: var(--level-2);
}