:root {
  --level-0: #222432;
  --level-1: #2b2d3f;
  --level-2: #3c4059;
  --level-3: #525779;
  --level-4: #3d3f59;
  --prim-dark: #a548d5;
  --prim: #bb5fee;
  --prim-light: #c7a6e0;
  --text: #eee;
  --text-dark: #bbb;
  --green: #61a861;
  --red: #fd674f;
}

body {
  margin: 0;
  font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--level-0);
  color: var(--text);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.heading {
  margin: 0 0 1rem 0;
  font-weight: normal;
  font-size: larger;
}

.input {
  padding: 0.25em 0.5em;
  color: var(--text);
  background-color: var(--level-0);
  border: 1px solid var(--level-3);
  border-radius: 0.5em;
  font-size: medium;
}

.button {
  border-radius: 0.5em;
  border: none;
  padding: 0.25em 0.5em;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  background-color: var(--prim);
}

.button:hover {
  background-color: var(--prim-light);
}

/*
Login
 */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 2.5em;
  border-radius: 1em;
  background-color: var(--level-1);
}

.login-form > input {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.login-form > .select {
  margin: 0.25em 0 0.5em 0;
}

.login-form > button:first-of-type {
  margin-top: 1em;
}

.login-form > hr {
  width: 80%;
  color: var(--level-3);
}

.register-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
}

.register-option-button-pressed {
  background-color: var(--prim-light);
  color: black;
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
}

.register-option-button {
  cursor: pointer;
  background-color: var(--prim);
  color: black;
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  transition: all ease-in-out 200ms;
}

.register-option-button:hover {
  background-color: var(--prim-light);
}

/*
React select
 */

.select {
  font-size: medium;
}

.select > div:first-of-type {
  border-color: var(--level-3);
  border-radius: 0.5em;
}

.select > div:first-of-type > div > div {
  color: var(--text-dark) !important;
}

.select > div {
  color: var(--text);
  background-color: var(--level-0);
  cursor: pointer;
}

.select > div:last-of-type:not(:first-of-type) > div {
  border: 1px solid var(--level-3) !important;
  border-radius: 0.5em;
}

/*
Dashboard
 */

.dashboard {
  margin: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.panel {
  background-color: var(--level-1);
  padding: 2em;
  border-radius: 1em;
}

.dashboard-global-statistics {
  grid-area: 1 / 1 / span 2 / span 1;
}

.dashboard-polls {
  grid-area: 1 / 5 / span 3 / span 2;
}

.dashboard-balance {
  grid-area: 1 / 2 / span 2 / span 3;
}

.dashboard-transfer {
  grid-area: 3 / 1 / span 2 / span 1;
}

.dashboard-consume {
  grid-area: 5 / 1 / span 2 / span 1;
}

.dashboard-transaction-analysis {
  grid-area: 4 / 5 / span 3 / span 1;
}

.dashboard-transaction-history {
  grid-area: 3 / 2 / span 4 / span 3;
}

.dashboard-user-state {
  grid-area: 4 / 6 / span 3 / span 1;
}

.balance-content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.balance-chart {
  width: 40em;
  height: 20em;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 1em;
  color: var(--text);
  background-color: var(--level-1);
  transition: all ease-in-out 200ms;
}

.icon-button:hover {
  background-color: var(--level-2);
}

.icon-button img {
  width: 4em;
}

@media screen and (max-width: 1800px) {
  .dashboard {
    margin: 1em 1em 0 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }

  .dashboard-global-statistics {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .dashboard-balance {
    grid-area: 1 / 2 / span 1 / span 3;
  }

  .dashboard-transfer {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .dashboard-transaction-history {
    grid-area: 2 / 2 / span 2 / span 3;
  }

  .dashboard-consume {
    grid-area: 3 / 1 / span 1 / span 1;
  }

  .dashboard-polls {
    grid-area: 4 / 1 / span 1 / span 2;
  }

  .dashboard-transaction-analysis {
    grid-area: 4 / 3 / span 1 / span 1;
  }

  .dashboard-user-state {
    grid-area: 4 / 4 / span 1 / span 1;
  }
}

@media screen and (max-width: 1100px) {
  .dashboard {
    margin: 1em 1em 0 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }

  .dashboard-balance {
    grid-area: 1 / 1 / span 1 / span 3;
  }

  .dashboard-transfer {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .dashboard-consume {
    grid-area: 2 / 2 / span 1 / span 1;
  }

  .dashboard-global-statistics {
    grid-area: 2 / 3 / span 1 / span 1;
  }

  .globalStatisticsContent {
    grid-template-columns: 1fr;
  }

  .dashboard-transaction-history {
    grid-area: 3 / 1 / span 2 / span 3;
  }

  .dashboard-transaction-analysis {
    grid-area: 5 / 1 / span 1 / span 2;
  }

  .dashboard-user-state {
    grid-area: 5 / 3 / span 1 / span 1;
  }

  .dashboard-polls {
    grid-area: 6 / 1 / span 1 / span 3;
  }
}

@media screen and (max-width: 900px) {
  .dashboard {
    margin: 1em 1em 0 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }
  .dashboard-balance {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  .dashboard-transfer {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .dashboard-consume {
    grid-area: 2 / 2 / span 1 / span 1;
  }

  .dashboard-transaction-history {
    grid-area: 3 / 1 / span 2 / span 2;
  }

  .dashboard-transaction-analysis {
    grid-area: 5 / 1 / span 1 / span 1;
  }

  .dashboard-global-statistics {
    grid-area: 5 / 2 / span 1 / span 1;
  }

  .globalStatisticsContent {
    grid-template-columns: 1fr;
  }

  .dashboard-polls {
    grid-area: 6 / 1 / span 1 / span 2;
  }

  .dashboard-user-state {
    grid-area: 7 / 1 / span 1 / span 2;
  }
}

@media screen and (max-width: 750px) {
  .dashboard {
    margin: 1em 1em 0 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }

  .balance-content {
    flex-direction: column;
  }

  .balance-chart {
    width: 25em;
    height: 20em;
  }

  .dashboard-balance {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .dashboard-transfer {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .dashboard-consume {
    grid-area: 3 / 1 / span 1 / span 1;
  }

  .dashboard-transaction-history {
    grid-area: 4 / 1 / span 2 / span 1;
  }

  .dashboard-transaction-analysis {
    grid-area: 6 / 1 / span 1 / span 1;
  }

  .dashboard-global-statistics {
    grid-area: 7 / 1 / span 1 / span 1;
  }

  .globalStatisticsContent {
    grid-template-columns: 1fr 1fr;
  }

  .dashboard-polls {
    grid-area: 8 / 1 / span 1 / span 1;
  }

  .dashboard-user-state {
    grid-area: 9 / 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 500px) {
  .dashboard {
    margin: 1em 0 1em 0;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }

  .panel {
    border-radius: unset;
    padding: 1em
  }

  .balance-content {
    flex-direction: column;
    align-items: center;
  }

  .balance-chart {
    width: 25em;
    height: 15em;
  }

  .dashboard-balance {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .dashboard-transfer {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .dashboard-consume {
    grid-area: 3 / 1 / span 1 / span 1;
  }

  .dashboard-transaction-history {
    grid-area: 4 / 1 / span 2 / span 1;
  }

  .dashboard-transaction-analysis {
    grid-area: 6 / 1 / span 1 / span 1;
  }

  .dashboard-global-statistics {
    grid-area: 7 / 1 / span 1 / span 1;
  }

  .dashboard-polls {
    grid-area: 8 / 1 / span 1 / span 1;
  }

  .dashboard-user-state {
    grid-area: 9 / 1 / span 1 / span 1;
  }
}